* {
    outline: none;
}

.form-container{
    max-width: 800px;
    background: #fff;
    padding: 25px 40px 45px 40px;
    border: 1px solid #8A6B3E;
    box-shadow: 0px 0px 10px 2px rgba(138, 107, 62, 0.3);
  }
  
  .form-container form{
    padding: 30px 0 0 0;
  }

  .form-container form .form-row{
    /* display: flex; */
    margin: 32px 0;
  }

  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form-row .textarea{
    height: 70px;
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #8A6B3E;
  }

  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    left: 0;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  .textarea label{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: #fff;
  }

  .textarea textarea:focus ~ label, .textarea textarea:valid ~ label {
    transform: translateY(-20px);
  }

  .input-data .underline{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
  }

  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #8A6B3E;
    transform: scaleX(0);
    left: 0;
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }

  .btn-container {
    width: 100%;
    display: grid;
    place-items: center;
  }
  
  #send-btn {
    height: 2rem;
    width: 15rem;
    border-radius: 1rem;
    border: 2px solid #8A6B3E;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #send-btn:hover {
    background-color: #8A6B3E;
    color: #F8F8FF;
  }

  @media (max-width: 700px) {
    .form-container .text{
      font-size: 30px;
    }
    .form-container form{
      padding: 10px 0 0 0;
    }
    .form-container form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 40%!important;
    }
  }